<div class="container">
  <div class="row">
    <div class="col-8">
      <input type="text" class="form-control" placeholder="Search products..." autofocus  (input)="filterProductsByRating ($event)" />
      <button class="btn btn-outline-primary">Filter by id</button>
    </div>
  </div>
  <!-- filters -->
    <div class="row align-items-center mb-3">
        <div class="col-8 offset-2  d-flex ">
            <p class="display-5 me-3">Filters</p>
            <button (click)="resetFilter()" class="btn btn-outline-secondary m-1 mt-3 mb-3">Reset filters</button>
            <button (click)="filter100()" class="btn btn-outline-secondary m-1 mt-3 mb-3">$0 - $100.000</button>
            <button (click)="filter200()" class="btn btn-outline-secondary m-1 mt-3 mb-3">$100.000 - $200.000 </button>
            <button (click)="filter200plus()" class="btn btn-outline-secondary m-1 mt-3 mb-3"> $200.000 + </button>
        </div>
    </div>

    <!-- products -->
    <div class="container">
        <div class="row">
          @for (item of paginatedProducts(); track item.id) {
            <div class="col-3 mb-3">
              <div class="card product-card h-100">
                <img [src]="item.image" class="card-img-top product-image" alt="product image">
                <span class="category-badge">{{ item.description }}</span>
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title">{{ item.name }}</h5>
                  <p class="product-price">{{ item.price | currency:'EUR'}}</p>
                  <p class="product-rating">{{ item.rating }}</p>
                  <button class="btn btn-success w-100 mt-auto">Buy</button>
                </div>
              </div>
            </div>
          }
        </div>
      
        <!-- Pagination Controls -->
        <nav>
          <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="currentPage() === 1">
              <a class="page-link" (click)="prevPage()">Previous</a>
            </li>
            <li class="page-item">
              <span class="page-link">Page {{ currentPage() }}</span>
            </li>
            <li class="page-item" [class.disabled]="currentPage() * itemsPerPage >= products().length">
              <a class="page-link" (click)="nextPage()">Next</a>
            </li>
          </ul>
        </nav>
      </div>
      
    